# Python basics for DS
---

### Working with files
**Opening files**
```python
f = open("file.txt", "r") # open() function returns a file object, takes the 
```
**->Reading files**
```python
data = f.read() # .read() method returns a string representation of the text in a file
```
**->Splitting the string into a list**
```python
list_elements = data.split("\n")
```
**->Closing files**
```python
f.close()
```

### Example
**Working with csv files**

In [1]:
file = open("crime_rates.csv", "r")
data = file.read()
file.close()

Let's check how the data looks like:

In [2]:
data

'Albuquerque,749\nAnaheim,371\nAnchorage,828\nArlington,503\nAtlanta,1379\nAurora,425\nAustin,408\nBakersfield,542\nBaltimore,1405\nBoston,835\nBuffalo,1288\nCharlotte-Mecklenburg,647\nCincinnati,974\nCleveland,1383\nColorado Springs,455\nCorpus Christi,658\nDallas,675\nDenver,615\nDetroit,2122\nEl Paso,423\nFort Wayne,362\nFort Worth,587\nFresno,543\nGreensboro,563\nHenderson,168\nHouston,992\nIndianapolis,1185\nJacksonville,617\nJersey City,734\nKansas City,1263\nLas Vegas,784\nLexington,352\nLincoln,397\nLong Beach,575\nLos Angeles,481\nLouisville Metro,598\nMemphis,1750\nMesa,399\nMiami,1172\nMilwaukee,1294\nMinneapolis,992\nMobile,522\nNashville,1216\nNew Orleans,815\nNew York,639\nNewark,1154\nOakland,1993\nOklahoma City,919\nOmaha,594\nPhiladelphia,1160\nPhoenix,636\nPittsburgh,752\nPlano,130\nPortland,517\nRaleigh,423\nRiverside,443\nSacramento,738\nSan Antonio,503\nSan Diego,413\nSan Francisco,704\nSan Jose,363\nSanta Ana,401\nSeattle,597\nSt. Louis,1776\nSt. Paul,722\nStockton,1548\nTampa,616\nToledo,1171\nTucson,724\nTulsa,990\nVirginia Beach,169\nWashington,1177\nWichita,742'

Let's split the data into rows and see the results:

In [3]:
rate_rows = data.split('\n')
rate_rows[0:5]

['Albuquerque,749',
 'Anaheim,371',
 'Anchorage,828',
 'Arlington,503',
 'Atlanta,1379']

Now we can create a list of lists to have a better access to the data:

In [4]:
cities_rates = []
[cities_rates.append(row.split(',')) for row in rate_rows]
cities_rates[0:5]

[['Albuquerque', '749'],
 ['Anaheim', '371'],
 ['Anchorage', '828'],
 ['Arlington', '503'],
 ['Atlanta', '1379']]

In [5]:
print(cities_rates[0][0])
print(cities_rates[0][1])
print(cities_rates[1])

Albuquerque
749
['Anaheim', '371']

---
### CSV Module
---
We can use the `csv` module to work with CSV files.

`reader()` function from this module takes a file object as its argument and returns an object that represents our data.

Check the [documentation](https://docs.python.org/3/library/csv.html?highlight=csv#module-csv) to find out more details on this module.

In [6]:
import csv
f = open("crime_rates.csv")
csvreader = csv.reader(f) # the file object is created
crime_rates_csv = list(csvreader) # the file object is converted to a list

In [7]:
crime_rates_csv[:3] # let's see the first three rows

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828']]

Now let's have some fun with another file

In [8]:
import csv
f = open("nfl.csv")
nfl = list(csv.reader(f))

nfl[:2]

[['2009', '1', 'Pittsburgh Steelers', 'Tennessee Titans'],
 ['2009', '1', 'Minnesota Vikings', 'Cleveland Browns']]

Checking how many times the New England Patriots won...

In [9]:
patriots_wins = sum([1 for row in nfl if row[2] == "New England Patriots"])

print(patriots_wins)

10

In [10]:
def nfl_wins(team_name): # the function returns the number of games the team won
    return sum([1 for row in nfl if row[2] == team_name])
cowboys_wins = nfl_wins("Dallas Cowboys")
falcons_wins = nfl_wins("Atlanta Falcons")

print(cowboys_wins, falcons_wins)

10 7

---
### Regular Expressions
---

Regular expression (regex) is a sequence of characters that describes a search pattern. Python has it's own module [`re`](https://docs.python.org/3/library/re.html) to work with regular expressions.

Here's a list of special characters from the module:

* `"."` - to indicate that any character can be pit in its place
* `"^"` - to match the beginning of a string (`"^a"` will match all strings that start with "a")
* `"$"` - to match the end of a string (`"a\$"` will match all strings that end with "a")
* `"|"` - to combine regular expressions (`"^a|a$"` will match all strings that start wit "a" **or** the strings that end with "a")

One of the useful functions the module provides is `re.search`.

`re.search(regex, string)` checks wheter `string` is a match for `regex`. If it is, the expression will return a **match** object, else it will return `None`.

Let's check it out using it on an `askreddit_2015.csv` dataset. The headers of the dataset are:
+ Title
+ Score
+ Time
+ Gold
+ NumComs

In [11]:
import csv
f = open("askreddit_2015.csv")
posts_with_headers = list(csv.reader(f))
posts = posts_with_headers[1:]
[print(row) for row in posts[:10]] # let's inspect some parts of the dataset

['What\'s your internet "white whale", something you\'ve been searching for years to find with no luck?', '11510', '1433213314.0', '1', '26195']
["What's your favorite video that is 10 seconds or less?", '8656', '1434205517.0', '4', '8479']
['What are some interesting tests you can take to find out about yourself?', '8480', '1443409636.0', '1', '4055']
["PhD's of Reddit. What is a dumbed down summary of your thesis?", '7927', '1440188623.0', '0', '13201']
['What is cool to be good at, yet uncool to be REALLY good at?', '7711', '1440082910.0', '0', '20325']
['[Serious] Redditors currently in a relationship, besides dinner and a movie, what are your favorite activities for date night?', '7598', '1439993280.0', '2', '5389']
["Parents of Reddit, what's something that your kid has done that you pretended to be angry about but secretly impressed or amused you?", '7553', '1439161809.0', '0', '11520']
['What is a good subreddit to binge read the All Time Top Posts of?', '7498', '1438822288.0', '0', '2780']
['What would the person who named Walkie Talkies have named other items?', '7501', '1447904351.0', '4', '6720']
["People who grew up in a different socioeconomic class as your significant others, what are the notable differences you've noticed and how does it affect your relationship (if at all)?", '7419', '1440358069.0', '0', '8603']

[None, None, None, None, None, None, None, None, None, None]

Some of these posts have phrases like "Parents of Reddit". Let's count similar posts using `re.search(regex, string)`.

In [12]:
import re
of_reddit_count = sum([1 for row in posts if re.search("of Reddit", row[0])])
print(of_reddit_count)

76

Some of these posts have different capitalization of `"Reddit"`. To indicate that any character can fill the space of a character we use square brackets.

Here's a fixed version of the code:

In [13]:
of_reddit_count = sum([1 for row in posts if re.search("of [Rr]eddit", row[0])])
print(of_reddit_count)

102

`regex` has the same escape character `"\"` as strings. Let's use it to find the posts with **[Serious]** tag.

In [14]:
serious_count = sum([1 for row in posts if re.search("\[Serious\]", row[0])])
print(serious_count)

69

Maybe some people use **[serious]** tag. Let's try to check it as well:

In [15]:
serious_count = sum([1 for row in posts if re.search("\[[Ss]erious\]", row[0])])
print(serious_count)

77

Some of the users could've used **parentheses** instead of square brackets. We'll have to use escape characters for them as well. Here's how the fix looks like:

In [16]:
serious_count = sum([1 for row in posts if re.search("[\[\(][Ss]erious[\]\)]", row[0])])
print(serious_count)

80

The post considered serious only if the tag occurs at the beginning (`"^"`) or (`"|"`) end (`"$"`) of the title.

In [17]:
serious_count = sum([1 for row in posts if re.search("^[\[\(][Ss]erious[\]\)]|[\[\(][Ss]erious[\]\)]$", row[0])])
print(serious_count)

80

Sometimes it's useful to have only one format for specific words. Let's replace `"[serious]"`, `"(Serious)"` and `"(serious)"` with `"[Serious]"` for all of the titles in posts. The `re` module provides a [sub()](https://docs.python.org/3/library/re.html#re.sub) function that takes the following parameters (in order):
* `pattern`: The regex to match
* `repl`: The string that should replace the substring matches
* `string`: The string containing the pattern we want to search

Let's check it out on our dataset:

In [18]:
# repl argument is just a string, so you don't need any escape charecters
for row in posts:
    row[0] = re.sub("^[\[\(][Ss]erious[\]\)]|[\[\(][Ss]erious[\]\)]$", "[Serious]", row[0])

To look for any specific value within an interval we can use square brackets along with a dash. For example, `"[0-9]"` will match any **character** that falls between 0 and 9. Same with `"[a-z]"`. To indicate that a pattern should repeat you can use curly brackets. So instead of `"[0-9][0-9][0-9][0-9]"` you can type `"[0-9]{4}"`.

Here's an example:

In [19]:
strings = ['War of 1812', 'There are 5280 feet to a mile', 'Happy New Year 2016!']
year_strings = [row for row in strings if re.search("[1-2][0-9]{3}", row) is not None]
print(year_strings)

['War of 1812', 'Happy New Year 2016!']

You can use a [findall()](https://docs.python.org/3/library/re.html#re.Pattern.findall) to extract some peaces of a string that match a regex. `re.findall("[a-z]", "abc123"])` would return a list `["a", "b", "c"]`. 

Look at the code below:

In [20]:
years_string = "2018 was a good year, but 2019 will be better!"
years = re.findall("[1-2][0-9]{3}", years_string) # extracting a string consisting of integers between 1000 and 2999
print(years)

['2018', '2019']

Check out more information on regex in my conspectuses of the [Udemy course by Colt Steele](https://github.com/LZNEWT00Z/conspectuses/tree/master/The%20Modern%20Python%203%20Udemy%20Bootcamp)!

---
### Dates in Python
---

One of the Python's [Standard Library](https://docs.python.org/3/library/) that deals with dates and times is the [`time`](https://docs.python.org/3/library/time.html) module, whith **Unix timestamps**. 

A Unix timestamp is a floating point value with no explicit mention of day, month or year. This value represents the *number of seconds that have passed since the "epoch"* in UTC, or the first second of the year 1970. We can represent any date after 1970 this way.

To retrieve the current Unix timestamp, we use the [`time.time()`](https://docs.python.org/3/library/time.html#time.time) function:

In [21]:
import time
current_time = time.time()
print(current_time)

1547015333.2565267

But it doesn't have to look like this! Using the [`time.gmtime()`](https://docs.python.org/3/library/time.html#time.gmtime) function will help us to convert this time to a human-readable form. The function takes a timestamp as an argument, and returns an instance of [`struct_time`](https://docs.python.org/3/library/time.html#time.struct_time) class. Such instances have attributes to represent the current time in other ways. 

Here are some of the attributes:

* `tm_year`: The year of the timestamp
* `tm_mon`: The month of the timestamp (1-12)
* `tm_mday`: The day in the month of the timestamp (1-31)
* `tm_hour`: The hour of the timestamp (0-23)
* `tm_min`: The minute of the timestamp (0-59)

Example below:

In [22]:
current_time = time.time()
current_struct_time = time.gmtime(current_time)
current_day = current_struct_time.tm_mday
current_month = current_struct_time.tm_mon
current_year = current_struct_time.tm_year
print(str(current_day) + "/" + str(current_month) + "/" + str(current_year))

9/1/2019

The [`datetime`](https://docs.python.org/3/library/datetime.html) module offers better support for working extensively with dates. For example, it's easier to perform arithmetic on them (such as adding days), and to work with different time zones.

The `datetime` module contains a class that's also named [`datetime`](https://docs.python.org/3/library/datetime.html) that represents points in time. These `datetime` instances appear similar to `struct_time` instances.

To represent a specific point in time, we pass in values into the constructor when creating an instance of the datetime class:

```python
nye_2017 = datetime.datetime(year=2017, month=12, day=31, hour=12, minute=59, second=59)
```

Also we could leave out specific details (like hour/year/etc.) if we'd like.

We can return the current utc time as a datetime instance using the [`datetime.utcnow()`](https://docs.python.org/3/library/datetime.html#datetime.datetime.utcnow) function. To see the current local time, just use the [`datetime.now()`](https://docs.python.org/3/library/datetime.html#datetime.datetime.now).

Once we have a `datetime` instance that represents a specific point in time, we can use the following attributes to return more specific properties:

* `year`: returns the year value as an integer.
* `month`: returns the month value an integer.
* `day`: returns the day value as an integer.
* `hour`: returns the hour value as an integer.
* `minute`: returns the minute value as an integer.
* `second`: returns the second value as an integer.
* `microsecond`: returns the microsecond value as an integer.

You can read about these attributes in the [documentation](https://docs.python.org/3/library/datetime.html#datetime.datetime.year).

To convert a Unix timestamp into `datetime` object use the [`datetime.datetime.fromtimestamp()`](https://docs.python.org/3/library/datetime.html#datetime.datetime.fromtimestamp) function:
```python
datetime_object = datetime.datetime.fromtimestamp(1433213314.0)
```

Another example of code below:

In [23]:
import datetime
current_datetime = datetime.datetime.now()  # the .now() method is contained within a datetime class 
current_year = current_datetime.year        # which is contained within a datetime module
current_month = current_datetime.month
current_day = current_datetime.day
current_hour = current_datetime.hour
print(current_year, current_month, current_day, current_hour)

2019 1 9 9

We know how to represent dates, but we'd also like to perform arithmetic on them. Since adding a day, week, month, etc. to a date can be tedious to do from scratch, the `datetime` module provides the [`timedelta`](https://docs.python.org/3/library/datetime.html#timedelta-objects) class. We can create an instance of this class that represents a span of time, then add or subtract it from instances of the `datetime` class.

When we create instances of the `timedelta` class, we can specify the following parameters:

* `weeks`
* `days`
* `hours`
* `minutes`
* `seconds`
* `milliseconds`
* `microseconds`

Suppose we want to calculate the date for three weeks and two days from now. We would first create an instance of the `datetime` class that represents today:
```python
today = datetime.datetime.now()
```
Then, we could get an instance of the `timedelta` class that represents the span of time we're working with:
```python
diff = datetime.timedelta(weeks = 3, days = 2)
```
Finally, we would add these two instances:
```python
future = today + diff
```
We can also subtract a `timedelta` instance from a `datetime` instance:
```python
past = today - diff
```

Instead of displaying the full timestamp down to the microsecond, we can use the [`datetime.strftime()`](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior) method to specify how we'd like the string output to be formatted.

The `datetime.datetime.strftime()` method takes a format string as its input. A format string contains special indicators, usually preceded by percent characters (`"%"`), that indicate where certain values should go. For example, suppose we stored a timestamp from *March 3, 2010* in the object `march3`. If we want to format it nicely into the string `"Mar 03, 2010"`, we can write the following code:
```python
march3 = datetime.datetime(year = 2010, month = 3, day = 3)

pretty_march3 = march3.strftime("%b %d, %Y")

print(pretty_march3)
```
The format string argument in `strftime()` indicates that we want:

* the abbreviated month name (`"%b"`) followed by a space
* the day of the month (`"%d"`) followed by a comma and space
* the full year (`"%Y"`)

In [24]:
mystery_date = datetime.datetime(2019, 1, 9, 0, 0)
mystery_date_formatted_string = mystery_date.strftime("%I:%M%p on %A %B %d, %Y")
print(mystery_date_formatted_string)

12:00AM on Wednesday January 09, 2019

Just as we can convert a `datetime` object into a formatted string, we can also do the reverse. The [`datetime.datetime.strptime()`](https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior) function allows us to convert a string to a `datetime` instance:

1. The date string (e.g. `"Mar 03, 2010"`)
2. The format string (e.g. `"%b %d, %Y"`)

With just these two arguments, `strptime()` will return a datetime instance for March 3, 2010:
```python
march3 = datetime.datetime.strptime("Mar 03, 2010", "%b %d, %Y")
```

In [25]:
mystery_date_2 = datetime.datetime.strptime(mystery_date_formatted_string, "%I:%M%p on %A %B %d, %Y")
print(mystery_date_2)

2019-01-09 00:00:00

Let's go back to our askreddit_2015.csv dataset. The time here (index 2 of each row) is represented as a Unix timestamp value. Let's convert it into a `datetime` inscance:

In [26]:
for row in posts:
    row[2] = datetime.datetime.fromtimestamp(float(row[2]))

print(posts[:3])

[['What\'s your internet "white whale", something you\'ve been searching for years to find with no luck?', '11510', datetime.datetime(2015, 6, 2, 5, 48, 34), '1', '26195'], ["What's your favorite video that is 10 seconds or less?", '8656', datetime.datetime(2015, 6, 13, 17, 25, 17), '4', '8479'], ['What are some interesting tests you can take to find out about yourself?', '8480', datetime.datetime(2015, 9, 28, 6, 7, 16), '1', '4055']]

Now let's see how many posts were made in February, March and August.

In [27]:
march_count = sum([1 for row in posts if row[2].month == 3])
feb_count = sum([1 for row in posts if row[2].month == 2])
aug_count = sum([1 for row in posts if row[2].month == 8])

print(march_count, feb_count, aug_count)

58 46 94

It's time to implement the gained skills!

### Exploring Gun Deaths in the US

We'll use a guns.csv dataset.

In [28]:
import csv
f = open("guns.csv", "r")
data = list(csv.reader(f))

data[:5]

[['',
  'year',
  'month',
  'intent',
  'police',
  'sex',
  'age',
  'race',
  'hispanic',
  'place',
  'education'],
 ['1',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '34',
  'Asian/Pacific Islander',
  '100',
  'Home',
  '4'],
 ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'],
 ['3',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '60',
  'White',
  '100',
  'Other specified',
  '4'],
 ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

It's useful to extract the header row from the dataset, so let's do it.

In [29]:
headers = data[0]
data = data[1:]

data[:5]

[['1',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '34',
  'Asian/Pacific Islander',
  '100',
  'Home',
  '4'],
 ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'],
 ['3',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '60',
  'White',
  '100',
  'Other specified',
  '4'],
 ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'],
 ['5',
  '2012',
  '02',
  'Suicide',
  '0',
  'M',
  '31',
  'White',
  '100',
  'Other specified',
  '2']]

Let's see the ammount of gun deaths in each year:

In [30]:
year_counts = {}
years = [row[1] for row in data]
for year in years:
    if year in year_counts:
        year_counts[year] += 1
    else:
        year_counts[year] = 1

year_counts

{'2012': 33563, '2013': 33636, '2014': 33599}

The ammount didn't really change by year from 2012 to 2014. Let's see if we can find any differences in months:

In [31]:
import datetime
months = [row[2] for row in data]
dates = [datetime.datetime(year = int(years[index]),
                           month = int(months[index]), 
                           day = 1)
         for index in range(len(years))]

dates[:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [32]:
date_counts = {}
for date in dates:
    if date in date_counts:
        date_counts[date] += 1
    else:
        date_counts[date] = 1

date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

It seems that there's a minor seasonal correlation, with gun deaths peaking in the summer and declining in the winter.

Sex and race columns also could contain some interesting data. Let's explore these columns as well:

In [33]:
sex = []
races = []
[(sex.append(row[5]), races.append(row[7])) for row in data]
sex_counts = {}
race_counts = {}
for index in range(len(data)):
    if sex[index] in sex_counts:
        sex_counts[sex[index]] += 1
    elif sex[index] not in sex_counts:
        sex_counts[sex[index]] = 1
    if races[index] in race_counts:
        race_counts[races[index]] += 1
    elif races[index] not in race_counts:
        race_counts[races[index]] = 1

In [34]:
sex_counts

{'M': 86349, 'F': 14449}

In [35]:
race_counts

{'Asian/Pacific Islander': 1326,
 'White': 66237,
 'Native American/Native Alaskan': 917,
 'Black': 23296,
 'Hispanic': 9022}

To be more specific we'll need to find the proportions of each race in the US. Luckily, we have such dataset, census.csv.

In [36]:
f = open("census.csv")
census = list(csv.reader(f))

census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

Let's see the rates for each census race (per hundred thousand).

In [37]:
mapping = {
    "Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956
}
race_per_hundredk = {}
for race in race_counts:
    race_per_hundredk[race] = (race_counts[race] / mapping[race]) * 100000
    
race_per_hundredk

{'Asian/Pacific Islander': 8.374309664161762,
 'White': 33.56849303419181,
 'Native American/Native Alaskan': 24.521955573811088,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907}

It would be interesting to filter the results by the intent (Homicide).

In [38]:
intent = [row[3] for row in data]
homicide_race_counts = {}
for index, race in enumerate(races):
    if intent[index] == "Homicide":
        if race in homicide_race_counts:
            homicide_race_counts[race] += 1
        else:
            homicide_race_counts[race] = 1

homicide_race_per_hundredk = {}
for race in homicide_race_counts:
    homicide_race_per_hundredk[race] = (homicide_race_counts[race] / mapping[race]) * 100000

homicide_race_per_hundredk

{'White': 4.6356417981453335,
 'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Native American/Native Alaskan': 8.717729026240365,
 'Hispanic': 12.627161104219914}

Here we can see that in the US gun related homicides mostly affect people in the Black and Hispanic categories.